html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Nixie One', bold;
}

header {
  height: 100px;
  background-color: white;
  margin: 0;
  padding: 20px 50px;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-container video {
  display: none;
}

@media all and (min-width: 481px) {
  .video-container video {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

main {
  padding-bottom: 50px;
}

.banner-caption {
  margin: 0 20px 35px 20px;
}

@media all and (min-width: 481px) {
  .banner-caption {
    margin: 0 0 20 0;
  }
}

.app-store {
  max-width: 180px;
}

.video-message {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media all and (min-width: 481px) {
  .video-message {
    height: 240px;
    width: 50%;
  }
}

.video-message h3 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
  line-height: 110px;
  margin-bottom: 15px;
}

.video-message p {
  font-family: 'Nixie One', bold;
  font-size: 15px;
  font-weight: 100;
  line-height: 26px;
}

@media all and (min-width: 481px) {
  .video-message p {
    font-size: 28px;
  }
}

.video-container {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  background: url("assets/poster.png") center no-repeat;
  background-size: cover;
  height: 300px;
}

@media all and (min-width: 481px) {
  .video-container {
    top: 0;
    background-image: none;
    height: inherit;
  }
}

.banner {
  height: 299px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 481px) {
  .banner {
    height: 538px;
  }
}

.about-section, .icon-row {
  background: white;
  font-family: 'Nixie One', bold;
}

.about-section {
  padding: 0px;
  @media screen (min-device-width: 481px) {
    padding: 50px;
  }
}

.about-text {
  text-align: center;
  margin: 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 481px) {
  .about-text {
    margin: 0 10%;
  }
}

.about-section h3 {
  padding: 25px 0;
}

.about-section p {
  padding: 25px 0;
  width: 80%;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
  margin-bottom: 30px;
}

@media all and (min-width: 481px) {
  .icon-row {
    flex-direction: row;
  }
}

.icon-set {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.icons-section hr {
  margin: 0 20%;
  border-top: 1px solid black;
}

.summary-section {
  display: flex;
  padding: 40px;
  justify-content: center;
  background: url("assets/mockup.png") center no-repeat;
  background-size: cover;
}

@media all and (min-width: 481px) {
  .summary-section {
    margin: 0 50px;
  }
}

.summary-text {
  font-family: 'Nixie One', bold;
  text-align: center;
  color: white;
  font-weight: 800;
}

@media all and (min-width: 481px) {
  .summary-text {
    margin-left: 400px;
    width: 400px;
    text-align: left;
  }
}

footer {
  background: black;
  padding: 30px 0;
  color: white;
  font-family: 'Nixie One', bold;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

@media all and (min-width: 481px) {
  .footer-links {
    margin: 0 35%;
  }
}

.footer-links a {
  color: white;
}

.legal-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

nav a {
  color: black;
  font-family: 'Nixie One', bold;
}

.logo-image {
  width: 50px;
  height: 50px;
}

@media all and (min-width: 481px) {
  .logo-image {
    width: 70px;
    height: 70px;
  }
}

